@page
@model University.Web.Pages.Students.EditModel

@{
    ViewData["Title"] = "Editar Estudiante";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <input type="hidden" asp-for="StudentDto.Id" />
                
                <div class="form-group mb-3">
                    <label asp-for="StudentDto.Name" class="control-label">Nombre Completo</label>
                    <input asp-for="StudentDto.Name" class="form-control" />
                    <span asp-validation-for="StudentDto.Name" class="text-danger"></span>
                </div>
                
                <div class="form-group mb-3">
                    <label asp-for="StudentDto.Document" class="control-label">Documento</label>
                    <input asp-for="StudentDto.Document" class="form-control" />
                    <span asp-validation-for="StudentDto.Document" class="text-danger"></span>
                </div>
                
                <div class="form-group mb-3">
                    <label asp-for="StudentDto.Email" class="control-label">Email</label>
                    <input asp-for="StudentDto.Email" class="form-control" />
                    <span asp-validation-for="StudentDto.Email" class="text-danger"></span>
                </div>
                
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Actualizar
                    </button>
                    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}